
<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ mediaItem.title }}</h3>
    </div>
    <div class="panel-body">
      <h2>{{ mediaItem.artist }}</h2>

      <div>Time Release on {{ mediaItem.timeRelease}}</div>
      <div class="tools">
        <a class="btn btn-sm btn-danger" (click)="onDelete()">
          remove
        </a>
        <a class="btn btn-sm btn-success" (click)="onPreview()">
          view lyrics
        </a>
      </div>
    </div>
  </div>
