<div class="row">
    <div class="col-sm-10">
      <section>
        <mw-media-item
          *ngFor="let mediaItem of mediaItems"
          [mediaItem]="mediaItem"
          (delete)="onMediaItemDelete($event)"
          (preview)="onMediaItemPreview($event)"></mw-media-item>
          <mw-media-popUp [mediaPopUp] = "popUp" (close)="onPopUpClose()"></mw-media-popUp>
      </section>
    </div>
    <div class="col-sm-2">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          List Of Artist
        </a>
        <div>{{ mediaItems | artistList }}</div>
      </div>
    </div>
</div>

